<div class="container" id="home-container">
  <div class="jumbotron text-center text-black">
    <h1 class="display-4">Image Repository</h1>

    <%= link_to 'Signup', signup_path, class: 'btn btn-primary text-white' %>
  </div>
</div>
