<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <p>This application was created as a submission for the <a href="https://docs.google.com/document/d/1ZKRywXQLZWOqVOHC4JkF3LqdpO3Llpfk_CkZPR8bjak/edit#" class="text-white">Fall 2021 - Shopify Developer Intern Challenge</a></p>
    <small>Copyright &copy; Loewan Lafleur</small>
  </div>
</footer>
